.services {
  height: 100vh;
  display: flex;
}
.servicesRight {
  height: 100%;
  width: 100%;
  position: relative;
  flex: 1;
}
.servicesLeft {
  flex: 1;
  position: relative;
}
.servicesAwesome,
.servicesLeft {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.servicesAwesome > :nth-child(1) {
  font-size: 5rem;
  font-weight: bold;
}
.servicesAwesome > :nth-child(2) {
  font-size: 5rem;
  color: var(--orange);
  font-weight: bold;
}
.servicesAwesome > :nth-child(3) {
  font-size: 1.5rem;
  color: var(--gray);
}
.downloadCVBtn {
  margin-top: 5rem;
  width: 20rem;
}

@media (max-width: 500px) {
  .services {
    flex-direction: column;
  }
  .servicesRight {
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .servicesLeft {
    align-items: center;
    margin-block: 5rem;
  }
}
