.services {
  display: flex;
  height: 50rem;
}
.serviceCard {
  height: 100%;
  position: absolute;
}
.servicesRight {
  height: 100%;
  width: 100%;
  position: relative;
  flex: 1;
}
.servicesLeft {
  flex: 1;
  position: relative;
}
.servicesAwesome,
.servicesLeft {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.servicesAwesome > :nth-child(1) {
  font-size: 5rem;
  font-weight: bold;
}
.servicesAwesome > :nth-child(2) {
  font-size: 5rem;
  color: var(--orange);
  font-weight: bold;
}
.servicesAwesome > :nth-child(3) {
  font-size: 1.5rem;
  color: var(--gray);
}
.downloadCVBtn {
  margin-top: 5rem;
  width: 20rem;
}

@media only screen and (max-width: 767px) {
  .serviceCard {
    position: static;
  }
  .serviceCard + .serviceCard {
    margin-top: 1rem;
  }
  .services {
    flex-direction: column;
    height: auto;
  }
  .servicesRight {
    padding-block: 5rem;
  }
}
