.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 10rem;
}
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0 !important;
}
.headSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.headSection > :nth-child(1) {
  font-size: 4rem;
}
.headSection > :nth-child(2) {
  font-size: 3rem;
  color: var(--orange);
}
.swiperContainer {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: visible !important;
}
.swiperContainer > div {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
.swiperContainer a:first-of-type {
  display: block;
  width: max-content;
  padding-inline: 2rem;
  color: var(--orange);
  z-index: 10;
}
.swiperContainer a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.swiperContainer p {
  display: flex;
  algin-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
  font-size: 3rem;
  letter-spacing: 2px;
  color: var(--orange);
  background-color: #4b4747;
  width: inherit;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
}
.swiperContainer p::after,
.swiperContainer p::before {
  transition: 300ms linear;
  padding-inline: 1rem;
  color: transparent;
  font-size: 3rem;
  vertical-align: middle;
}
.swiperContainer p::after {
  content: ' />';
}
.swiperContainer p::before {
  content: '< ';
}
.swiperContainer p:hover::after,
.swiperContainer p:hover::before {
  color: var(--orange);
}
.swiperContainer img {
  display: block;
  width: 100%;
  aspect-ratio: 2.3;
  object-fit: contain;
  object-position: center top;
  box-shadow: 0 0 20rem -10rem #0000004a;
  background-color: white;
}
.swiperContainer .swiperSlide {
  width: 40rem !important;
}
.swiper {
  overflow: visible !important;
}
@media only screen and (min-width: 767px) and (max-width: 1180px) {
}
@media only screen and (max-width: 767px) {
  .portfolio h3 {
    font-size: 3rem;
    margin-block: 5rem;
  }
  .swiperContainer p::after,
  .swiperContainer p::before {
    font-size: 2rem;
  }
  .swiperContainer p {
    font-size: 1.5rem;
    height: 100%;
  }
  .swiperContainer > div {
    width: auto;
  }
}
