.contactContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-block: 20rem;
}
.left,
.right {
  flex: 1;
}
.left {
  align-self: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.submitBtn {
  width: 20rem;
  margin-block: 5rem;
  margin-inline: auto;
}
.reply {
  text-align: center;
}
@media only screen and (min-width: 767px) and (max-width: 1180px) {
  .contactContainer {
    height: 50vh;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .right {
    margin-top: 5rem;
  }
  .contactContainer {
    flex-direction: column;
    margin-block: 10rem;
    margin-top: 0;
  }
}
