* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
body {
  height: 100vh;
  width: 100%;
}
.button {
  border-radius: 3rem;
  color: white;
  font-size: 1.75rem;
  border: 1px solid transparent;
  outline: none;
  padding: 1.5rem 2rem;
  background: linear-gradient(180deg, #fdc50f 155.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 13px #fba1286b;
  transition: border-color 200ms;
  font-family: 'Gumela';
}
.button:hover {
  color: var(--orange);
  background: white;
  cursor: pointer;
  border-color: var(--orange);
}
