.toggleWrapper {
  position: relative;
  cursor: pointer;
  --height: 3.6rem;
  --width: 6.6rem;
  --border-width: 0.36rem;
  --gap: 0.32rem;
  --sw-width: 2.6rem;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  border: var(--border-width) solid var(--orange);
  border-radius: 4rem;
  gap: var(--gap);
  color: var(--orange);
  height: var(--height);
  width: var(--width)
}
.switch {
  position: absolute;
  width: var(--sw-width);
  aspect-ratio: 1;
  background-color: var(--orange);
  border-radius: 50%;
  transition: all 200ms;
}
.switch.sun,
.switch.moon {
  top: calc((var(--height) - var(--sw-width)) / 2);
}
.switch.sun {
  margin-left: calc(var(--width) / 2 + var(--gap) / 2);
}
.switch.moon {
  margin-left: calc(var(--border-width) + var(--gap) / 2);
}
