:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --grayBlur: #78809738;
  --blueCard: #ddf8fe;
  --purple: #eed2ff;
  --boxShadow: 0px 19px 60px #00000014;
  --orangeCard: #fca61f73;
  --smboxShadow: -79px 51px 60px #00000014;
}

.App {
  position: relative;
  padding: 0.5rem 7rem;
  overflow: hidden;
  color: var(--black);
}
main {
  max-width: 1300px;
  min-width: 1280px;
  margin-inline: auto;
}
.scrollOnTop {
  z-index: 1000000000;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 19px 60px #00000024;
  animation: onTopAnimate 300ms linear;
  transition: transform 300ms;
  cursor: pointer;
}
.scrollOnTop a {
  display: flex;
}
@keyframes onTopAnimate {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  .App {
    padding-inline: 4rem;
  }
}
